.SwapInput {
  display: flex;
  flex-direction: column;
  .SwapInput_section {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    h5 {
      font-size: 0.8rem;
      color: #fff;
      font-weight: 800;
      margin: 0;
      display: block;
      padding-bottom: 0.5rem;
    }

    .item_input {
      padding-top: 0.6rem;
      width: 100%;
      button {
        font-size: 0.9rem;
        background-color: #fff;
        color: #3b3b3b;
        border-left: 1px solid #d1d0d0;
      }
      button:hover {
        background-color: #eee;
        color: #3b3b3b;
      }
    }
    .item_btn,
    .item_btn_tx {
      font-size: 0.9rem;
      margin-top: 1rem;
    }
    .item_btn_tx {
      color: #fff;
      background-color: #facc2e;
    }
    .item_btn_tx:hover {
      border-color: #3b3b3b;
      color: #3b3b3b;
      background-color: #e3b82d;
    }
    .info_table {
      padding-top: 0.6rem;
      font-size: 0.7rem;
      > div {
        width: 100%;
        display: flex;
        flex-direction: column;
      }
    }
    .info_tbody {
      tr {
        display: flex;
        td:last-child {
          flex: 1;
          text-align: right;
          color: #facc2e;
        }
      }
    }
  }
}
