.ArticleSection {
  .title {
    font-size: 1.3rem;
    font-weight: 800;
    margin: 0;
    padding: 0;
  }
  .content {
    font-size: 0.9rem;
    line-height: 1.5rem;
    padding: 1rem 0;
  }
  .img {
    padding: 1rem 0;
    img {
      border-radius: 0.4rem;
    }
  }
}
